---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import { Icon } from "astro-icon/components";
---

<div id="contact-section">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Obtén tu casa con ViviendoYa</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Te ayudamos a convertir el sueño de tu casa propia en realidad.</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Estaremos comunicándonos contigo en menos de 24 horas para discutir más detalles e iniciar el proceso para obtener tus llaves.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:hogarsinbarreras@viviendoya.lat"
              >hogarsinbarreras@viviendoya.lat</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
              href="tel:+51 988 301 803">+51 988 301 803</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</div>