---
import Link from "./ui/link.astro";
---

<div class="bg-sky-500 p-8 md:px-10 mt-20 mb-20 mx-auto max-w-5xl rounded-2xl flex flex-col md:flex-row items-center md:justify-between">
  <h2 class="text-white text-2xl md:text-4xl tracking-tight text-left mb-4 md:mb-0">
    Haz realidad tu sueño de casa propia
  </h2>
  <div class="ml-0 md:ml-5">
    <Link href="#" class="bg-slate-50 text-sky-500 py-2 px-4 rounded-lg">Contáctanos</Link>
  </div>
</div>
