---
// @ts-ignore
import { Icon } from "astro-icon/components";
import heroImage from "assets/moving_01.jpg";
import Picture from "astro/components/Picture.astro";

const features = [
  {
    title: "Derribamos barreras financieras",
    description:
      "Conectamos compradores con inversores, facilitando el acceso a viviendas",
    icon: "bx:bxs-bank",
  },
  {
    title: "Acceso más rápido a tu vivienda",
    description:
      "Múdate en sólo 30 días, acelerando el proceso tradicional",
    icon: "bx:bxs-timer",
  },
  {
    title: "Educación financiera",
    description:
      "Brindamos asesoría financiera para mejorar tu perfil crediticio",
    icon: "bx:bxs-data",
  },
  {
    title: "Proceso Simple",
    description:
      "Sin millones de documentos, aplica sin dificultad y estaremos en contacto contigo",
    icon: "bx:bxs-file",
  }
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Tu sueño de casa propia nunca tan cerca
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Trabaja con nosotros y múdate en menos de 30 días, aquí los pasos de cómo funciona
  </p>
</div>

<div class="grid sm:grid-cols-1 md:grid-cols-2 mb-16 mt-16 gap-24">
  <div class="col-span-1 self-center">
    {features.map((item) => (
      <div class="flex gap-4 items-start mb-16">
        <div class="mt-1 bg-sky-500 rounded-full p-2 w-12 h-12 shrink-0">
          <Icon class="text-white w-8 h-8" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))}
  </div>
  <div class="col-span-1 flex items-start md:items-center justify-self-center">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 800]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
      class="rounded-lg shadow-lg w-full"
    />
  </div>
</div>